@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 90vw;
}

body {
    background-image: url("../assets/imagens/fundo-madeira.jpg");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#iphone {
    background: url('../assets/imagens/frame-iphone.png') no-repeat;
    height: 627px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
}

iframe#tela {
    display: block;
    margin: auto;
    height: 420px;
    width: 215px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.logos-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 200px;
}

.logos {
    border-radius: 100%;
    box-shadow: 2px 2px 2px #0000008c; 
    margin-bottom: 15px;
    width: 40px;
    transition: .2s;
}

.logos:hover {
    transform: scale(1.2);
}